@import './colors';
$breakpoint: 800px;


.app {
	margin: 100px auto 0 auto;
	width: $breakpoint;
	display: flex;
	flex-direction: column;
	@media (max-width: $breakpoint) {
		margin: 0;
		width: 100%;
	}
}

.header {
	padding: 0 0 20px 0;
	display: flex;
	justify-content: center;
}